.form {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.form__card {
  width: 400px;
}
.form__card-hd {
  display: block;
}
.form__card-text {
  text-align: center;
  padding: 0 0 11px;
}
.form__f-text {
  font-size: 16px;
  margin: 30px 4px 20px;
}
.form__f-field {
  display: block;
}
.form__f-btn {

}

.form__f-ft {
  padding: 8px 17px 22px;
  text-align: center;
  display: block;
}