
<mat-card class="card" appearance="outlined">
  <mat-card-header class="card-hd">
    <mat-card-title class="form__card-text">
      <h2>Play.ht API</h2>
      <mat-divider></mat-divider>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="card__content">
    <form [formGroup]="playhtForm" class="form">
      <div>
        <mat-form-field class="form__field">
          <mat-label>Select voice</mat-label>
          <mat-select formControlName="voice">
            @for (voice of voices; track voice.voice_id) {
              <mat-option class="m-b-10" [value]="voice.id">
                <div class="flex nowrap ai-center">
                  <audio class="w-400px m-r-10" [src]="voice.sample" controls></audio>
                  <span>{{voice.name + ' (' + voice.gender + ', ' + voice.age + ', ' + voice.style + ', ' + voice.texture + ', ' + voice.voice_engine + ')'}}</span>
                </div>
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex p-b-20">
        <div class="flex__item p-0">
          <mat-checkbox (change)="onChangeFavoriteVoices()" formControlName="favoriteVoices">Display PlayHT2.0 voices only</mat-checkbox>
        </div>
      </div>

      <div>
        <mat-form-field class="form__field">
          <mat-label>Text to speech</mat-label>
          <textarea class="form__textarea" matInput formControlName="text"></textarea>
        </mat-form-field>
      </div>

      <div>
        <mat-checkbox formControlName="defaultSettings" (change)="onChangeDefaultSettings()">Default settings</mat-checkbox>
      </div>

      <div>
        <mat-form-field class="form__field">
          <mat-label>Select voice engine</mat-label>
          <mat-select formControlName="voice_engine">
            @for (engine of voiceEngines; track engine.id) {
              <mat-option [value]="engine.id">{{engine.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="form__field">
          <mat-label>Select speech quality</mat-label>
          <mat-select formControlName="quality">
            @for (quality of speechQualityList; track quality.id) {
              <mat-option [value]="quality.id">{{quality.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex">
        <div class="flex__item">
          <mat-label class="form__label">Speed</mat-label>
          <mat-slider class="form__field" min="0.1" max="5" step="0.1" discrete>
            <input formControlName="speed" matSliderThumb>
          </mat-slider>
          <mat-hint class="form__hint">0 - More slow, 1 - More fast</mat-hint>
        </div>

        <div class="flex__item">
          <mat-label class="form__label">Sample Rate (kHz)</mat-label>
          <mat-slider class="form__field" min="8000" max="48000" step="8000" discrete>
            <input formControlName="sample_rate" matSliderThumb>
          </mat-slider>
          <mat-hint class="form__hint">8 kHz - Less quality, 48 kHz - High quality</mat-hint>
        </div>

        <div class="flex__item">
          <mat-form-field class="form__field">
            <mat-label class="form__label">Seed</mat-label>
            <input matInput formControlName="seed" placeholder="Seed">
          </mat-form-field>
          <mat-hint class="form__hint">Useful to control the reproducibility of the generated audio. Assuming all other properties didn't change, a fixed seed should always generate the exact same audio file.</mat-hint>
        </div>

        <div class="flex__item">
          <mat-label class="form__label">Temperature</mat-label>
          <mat-slider class="form__field" min="0.1" max="2" step="0.1" discrete>
            <input formControlName="temperature" matSliderThumb>
          </mat-slider>
          <mat-hint class="form__hint">The temperature parameter controls variance. Lower temperatures result in more predictable results, higher temperatures allow each run to vary more, so the voice may sound less like the baseline voice.</mat-hint>
        </div>

        <div class="flex__item">
          <mat-form-field class="form__field">
            <mat-label>Select voice emotion</mat-label>
            <mat-select formControlName="emotion">
              @for (emotion of speechEmotionList; track emotion.id) {
                <mat-option [value]="emotion.id">{{emotion.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="flex__item">
          <mat-label class="form__label">Voice Guidance</mat-label>
          <mat-slider class="form__field" min="0.1" max="6" step="0.1" discrete>
            <input formControlName="voice_guidance" matSliderThumb>
          </mat-slider>
          <mat-hint class="form__hint">Use lower numbers to reduce how unique your chosen voice will be compared to other voices. Higher numbers will maximize its individuality. Only supported when voice_engine is set to PlayHT2.0 or PlayHT2.0-turbo, and voice uses that engine.</mat-hint>
        </div>

        <div class="flex__item">
          <mat-label class="form__label">Style Guidance</mat-label>
          <mat-slider class="form__field" min="0.1" max="30" step="0.1" discrete>
            <input formControlName="style_guidance" matSliderThumb>
          </mat-slider>
          <mat-hint class="form__hint">Use lower numbers to to reduce how strong your chosen emotion will be. Higher numbers will create a very emotional performance. Only supported when voice_engine is set to PlayHT2.0 or PlayHT2.0-turbo, and voice uses that engine.</mat-hint>
        </div>

        <div class="flex__item">
          <mat-label class="form__label">Text Guidance</mat-label>
          <mat-slider class="form__field" min="1" max="2" step="0.1" discrete>
            <input formControlName="text_guidance" matSliderThumb>
          </mat-slider>
          <mat-hint class="form__hint">This number influences how closely the generated speech adheres to the input text. Use lower values to create more fluid speech, but with a higher chance of deviating from the input text. Higher numbers will make the generated speech more accurate to the input text, ensuring that the words spoken align closely with the provided text. Only supported when voice_engine is set to PlayHT2.0, and voice uses that engine.</mat-hint>
        </div>
      </div>

      <div class="form__audio">
        <div [class.hiddedAudio]="!speechUrl">
          <audio #generatedSpeech class="form__audio-control" [src]="speechUrl" controls>
            Your browser does not support the audio tag.
          </audio>
          <!-- <p>
            <a (click)="onClickDownload()">Download audio</a>.
          </p> -->
        </div>
        <div *ngIf="errorMessage">
          <mat-error>{{ errorMessage }}</mat-error>
        </div>
      </div>

      <div>
        <button mat-raised-button color="primary" [disabled]="playhtForm.invalid" (click)="onClickProccess()">
          <span *ngIf="!loading">Send</span>
          <mat-progress-spinner *ngIf="loading" color="accent" mode="indeterminate" diameter="25"></mat-progress-spinner>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>