
<mat-card class="card" appearance="outlined">
  <mat-card-header class="card-hd">
    <mat-card-title class="form__card-text">
      <h2>Elevenlabs API</h2>
      <mat-divider></mat-divider>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="card__content">
    <form [formGroup]="elevenlabsForm" class="form">
      <div>
        <mat-form-field class="form__field">
          <mat-label>Select voice</mat-label>
          <mat-select [(value)]="selectedVoice">
            @for (voice of voices; track voice.voice_id) {
              <mat-option [value]="voice.voice_id">{{voice.name + ' (' + voice.labels.gender + ', ' + voice.labels.age + ', ' + voice.labels.description + ')'}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="form__field">
          <mat-label>Text to speech</mat-label>
          <textarea class="form__textarea" matInput required formControlName="text"></textarea>
        </mat-form-field>
      </div>

      <div class="flex">
        <div class="flex__item">
          <mat-form-field class="form__field">
            <mat-label>Stability</mat-label>
            <input matInput type="number" min="0.0" max="1" step="0.1" required formControlName="stability">
          </mat-form-field>
        </div>
  
        <div class="flex__item">
          <mat-form-field class="form__field">
            <mat-label>Clarity + Similarity Enhancement</mat-label>
            <input matInput type="number" min="0.0" max="1" step="0.1" required formControlName="similarityBoost">
          </mat-form-field>
        </div>
  
        <div class="flex__item">
          <mat-form-field class="form__field">
            <mat-label>Style Exaggeration</mat-label>
            <input matInput type="number" min="0.0" max="1" step="0.1" required formControlName="style">
          </mat-form-field>
        </div>
  
        <div class="flex__item">
          <mat-checkbox class="example-margin" formControlName="speakerBoost">Speaker Boost</mat-checkbox>
        </div>
      </div>

      <div class="form__audio">
        <div *ngIf="speechUrl">
          <audio class="form__audio-control" [src]="speechUrl" controls></audio>
        </div>
      </div>

      <div>
        <button mat-raised-button color="primary" [disabled]="elevenlabsForm.invalid" (click)="onClickProccess()">
        <span *ngIf="!loading">Send</span>
        <mat-progress-spinner *ngIf="loading" color="accent" mode="indeterminate" diameter="25"></mat-progress-spinner>
      </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>