html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root, app-main-layout {
  height: 100%;
  display: block;
}

.hero-slider.mdc-slider .mdc-slider__thumb .mdc-slider__value-indicator {
  transform: scale(1);
}
